body {
    margin: 0;
    background-image: url(https://media.discordapp.net/attachments/988390773919744031/988821019173195796/Background.png);
}
nav {
    position: fixed;
    background-color: #FFA901;
    width: 100%;
    margin-bottom: 10px;
    padding: 20px 0px;
    z-index: 1;
}
nav>div {
    text-align: center;
    width:100%;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    font-size: 35px;
    color: #000;
}
nav>div>img {
    border:2px solid black;
    position:absolute;
    left:5%;
    top: 16%;
    margin:0;
    padding:0;
    object-fit: cover;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.container-1{
    color:#515A79;
    position:relative;    
    border: 1px;
    border-radius: 8px;
    background-color: #FFD646;
    top:200px;
    width:62%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 22px;
    padding: 20px 8px;
    font-family: 'Prompt', sans-serif;
}
.gif > img{
    position: relative;
    top:180px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95px;
    height: 95px;
    object-fit: cover;
    border-radius: 50%;
}
#result{
    color:#515A79;
    position:absolute;    
    top:450px;
    width:62%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 40px;
    font-family: 'Prompt', sans-serif;
}
.popout{
    color:#515A79;
    position:absolute;    
    bottom:150px;
    width:100%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 22px;
    font-family: 'Prompt', sans-serif;
}
.choice{
    position: absolute;
    width:100%;
    bottom:-85px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.choice button{
    box-sizing: border-box;
    border:1px solid #515A79; 
    background-color: white;
    text-align: center;
    font-size: 15px;
    font-family: 'Prompt', sans-serif;
    width:130px;
    height:40px;
    /* padding: 8px 35px; */
    margin:2px 30px;
}
.choice button:nth-last-child(1){
    background-color: #515A79;
    color:white;
}